
 body{
     	background-color:#00FF00;
     	font-color:#ccc;

}
#calc{
   	margin-left: auto;
    	margin-right: auto;
    	width: 15%;
	height: 20vh;
	padding: 100px;
	background-color: #FFF;
	border:3px solid #000;
}
#value1 {
margin-bottom:20px;
border:1px solid #ccc;
}
#value2 {
margin-bottom:20px;
border:1px solid #ccc;
}
#value1:focus {
margin-bottom:20px;
border:1px solid #000;
}
#value2:focus {
margin-bottom:20px;
border:1px solid #000;
}
#operator{
	margin-bottom: 20px;
}
.button{
	margin-bottom: 20px;
	border:1px solid #ababab;
	color:#ccc;
}
.button:hover{
	margin-bottom: 20px;
	border:2px solid #000;
	color: #000;
}
form{
	position:absolute;
}
