 body{
     	background-color:#00FF00;

}
#calc{
   	margin-left: auto;
    	margin-right: auto;
    	width: 15%;
	padding: 100px;
	background-color: #FFF;
	content-align: center;
}
#value1 {
margin-bottom:20px;
}
#value2 {
margin-bottom:20px;
}
#operator{
	margin-bottom: 20px;
}
.button{
	margin-bottom: 20px;
}
#result{
	position: absolute;
	
}



